<div class="jumbotron hero-other">
    <div class="container">
        <div class="row">
            <div class="toppad">
                <div class="panel panel-info">

                    <div class="panel-body">
                        <div class="row">
                            @Html.Partial("_SidebarPartial")
                            <div class="col-md-9 col-lg-9">
                                <div class="table-responsive">
                                    <table class="table table-user-information table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="2"><h2>Claims</h2></th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Estimated Claims Amount</th>
                                                <th>Claims Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-warning btn-sm">In process</button></td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-primary btn-sm">Pending in review</button></td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-info btn-sm">Pending needs feedback</button></td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-success btn-sm">Approved</button></td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-danger btn-sm">Rejected</button></td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>N40000</td>
                                                <td><button class="btn btn-warning btn-sm">In process</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


