<div class="jumbotron hero-other">
    <div class="container">
        <div class="row">
            <div class="toppad">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            @Html.Partial("_SidebarPartial")
                            <div class="col-md-9 col-lg-9">
                                <table class="table table-user-information table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2"><h2>My Profile</h2></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Title:</td>
                                            <td>Mrs.</td>
                                        </tr>
                                        <tr>
                                            <td>Fullname:</td>
                                            <td>Lorem Ipsum Ipsim</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>Female</td>
                                        </tr>
                                        <tr>
                                            <td>Email Address</td>
                                            <td>lorem@ipsum.com</td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>01/24/1988</td>
                                        </tr>
                                        <tr>
                                            <td>Home Address</td>
                                            <td>Kathmandu,Nepal</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
