<div class="jumbotron hero-other">
    <div class="container">
        <div class="row">
            <div id="wizard" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div class="wizard-content">
                    <div class="wizard-step">
                        <h2 class="text-center">Step 1 </h2>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title" class="lbl-ins">Title</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <select class="form-control">
                                        <option>Select Title</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName" class="lbl-ins">First name</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="firstName" placeholder="e.g. Opeyemi">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName" class="lbl-ins">Last name</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="lastName" placeholder="e.g. Alabi">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="lbl-ins">E-mail</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <input type="email" class="form-control" id="email" placeholder="e.g. abc@123.com">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phoneNo" class="lbl-ins">Phone No</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="phoneNo" placeholder="e.g. 09090909090">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state" class="lbl-ins">State</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-flag-o" aria-hidden="true"></i></div>
                                    <select class="form-control">
                                        <option>Select State</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city" class="lbl-ins">City</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-flag-o" aria-hidden="true"></i></div>
                                    <select class="form-control">
                                        <option>Select City</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address" class="lbl-ins">Address</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="address" placeholder="e.g. 33, Ade street">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dob" class="lbl-ins">Date of Birth</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    <input type="date" class="form-control" id="dob" placeholder="e.g. 33, Ade street">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step">
                        <h2 class="text-center">Step 2 </h2>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="plateNo" class="lbl-ins">Plate No</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="plateNo" placeholder="e.g. AAA-453-ARD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="engineNo" class="lbl-ins">Engine No</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="engineNo" placeholder="e.g. 1324-acbg-6565-897565">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="chasisNo" class="lbl-ins">Chasis No</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="chasisNo" placeholder="e.g. 1324-acbg-6565-897565">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleColor" class="lbl-ins">Vehicle Color</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="vehicleColor" placeholder="e.g. Red">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleMake" class="lbl-ins">Vehicle Make</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="vehicleMake" placeholder="e.g. Toyota">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleModel" class="lbl-ins">Vehicle Model</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="vehicleModel" placeholder="e.g. Accord">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleType" class="lbl-ins">Vehicle Type</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="vehicleType" placeholder="e.g. Fallon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearOfMake" class="lbl-ins">Year of Make</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="yearOfMake" placeholder="e.g. 2016">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step">
                        <h2 class="text-center">Step 3 </h2>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h2 class="text-center color-blue " style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;">Vehicle Info</h2>
                                <table class="table table-hover table-striped tab">
                                    <tbody>
                                        <tr>
                                            <td class="data-val">Ownership Type</td>
                                            <td class="data-value">Private</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Manufacturer</td>
                                            <td class="data-value">Toyota</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Model</td>
                                            <td class="data-value">Corolla</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h2 class="text-center color-blue " style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;">Personal Info</h2>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="data-val">Name</td>
                                            <td class="data-value">Olade Ade</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Email</td>
                                            <td class="data-value">ade@gmail.com</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Phone </td>
                                            <td class="data-value">09098909899</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                        <tr>
                                            <td class="data-val">Data</td>
                                            <td class="data-value">Value</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step">
                        <h2 class="text-center">Step 4 </h2>

                        Confirm and Pay
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="wizard-buttons pull-right">
                    <!-- The wizard button will be inserted here. -->
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/ModalWizard.js"></script>
<script>
    $(document).on("ready", function () {
        $("#wizard").wizard({
            onfinish: function () {
                console.log("Hola mundo");
            }
        });
    });
</script>